* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-link {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.navbar-section {
    z-index: 100;
}

.custom-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 5%;
    left: 0;
    bottom: 0;
    background-color: #105EEa;
    transition: width 0.3s ease-in-out;
}

.custom-link:hover::after {
    width: 100%;
}

.custom-active {
    color: #105EEa !important;
    border-bottom: 2px solid #105EEa;
}

.hero-section {
    background-image: url("images/hero-bg.jpg");
    height: 80vh;
    position: relative;
}

.hero-section::before {
    content: "";
    background: rgba(255, 255, 255, 0.238);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.hero-card {
    margin-top: 180px;
    z-index: 10;
}

.hero-card h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero-card h2 {
    font-size: 24px;
    margin: 5px 0px 30px;
    color: #555555;
}

.btn-1 {
    padding: 10px 28px;
    font-size: 14px;
}

.btn-2 {
    font-size: 16px;
}

.second-card {
    padding: 0px 12px;
    /* background: #55555511; */
}

.box-card {
    padding: 30px;
    background-color: #FFFFFF;
}

.second-card i {
    color: #105EEa;
    margin: 0px 0px 15px;
    font-size: 40px;
}

.second-card a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin: 0px 0px 15px;
}

.second-card p {
    font-size: 15px;
}

.about-section {
    background-color: #f6F9FE;
    padding: 60px 0px;
}

.about-title h2 {
    background-color: #E7F1FD;
    color: #106EEa;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 13px;
    display: inline-block !important;
}

.about-title h3 {
    font-size: 32px;
    margin: 15px 0px 0px;
}

.about-title p {
    color: #444444;
    font-size: 16px;
    margin: 15px 324px 0px;
}

.about-card h3 {
    font-size: 26px;
    margin: 0px 0px 8px;
    color: #444444;
}

.about-card p {
    margin: 0px 0px 16px;
    font-size: 16px;
}

.about-card2 i {
    font-size: 24px;
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #105EEa;
}

.about-text h5 {
    font-size: 18px;
    margin: 0px 0px 8px;
    color: #555555;
}

.about-text p {
    font-size: 15px;
    color: #444444;
}

.about-card p {
    font-size: 16px;
    color: #666666;
}

.client-card {
    background-color: #f1f6fe;
}

.client-card i {
    font-size: 22px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #106EEa;
    color: white;
}

.client-card span {
    font-size: 36px;
    color: #062B5B;
    font-weight: bold;
}

.client-card p {
    font-size: 14px;
    color: #444444;
}

.client-section {
    margin-top: 160px;
    margin-bottom: 50PX;
}

.logo-section {
    background-color: #f1f6fe;
}

.logo-section .logo-card img {
    max-width: 45%;
    padding: 18px 0px;
}

.service-box {
    text-align: center;
    border: 1px solid #e2eefd;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    text-align: center;
}

.box-icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #f1f6fe;
    border-radius: 4px;
    border: 1px solid #deebfd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #105EEa;
    font-size: 20px;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
}

.service-box:hover {
    box-shadow: 5px 10px 18px #888888;

    a {
        color: #105EEa;
    }

    .box-icon {
        border: 1px solid #106EEa;
    }

}

.service-box a {
    text-decoration: none;
    font-size: 24px;
    color: #222222;
}

.service-box p {
    font-size: 14px;
    color: #444444;
}

.testimonials-section {
    background-image: url("images/testimonials-bg.jpg");
    min-height: 450px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    position: relative;
    z-index: 10;
    display: flex;
}

.testimonials-section::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.699);
}

.testimonials-container {
    z-index: 100;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.testimonials-container img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.testimonials-container h3 {
    font-size: 20px;
    margin: 10px 0px 5px;
    color: #FFFF;
}

.testimonials-container h4 {
    margin: 0px 0px 15px;
    font-size: 14px;
    color: #DDDDDD;
}

.testimonials-container p {
    font-size: 16px;
    color: #EEEEEE;
    margin: 0px 130px 15px;
    font-style: italic;
}

.portfolio-row {
    position: relative;
    height: 1267.08px;
}

.filter-web1 {
    position: absolute;
    left: 0px;
}

.filter-web2 {
    position: absolute;
    left: 439.987px;
}

.filter-web3 {
    position: absolute;
    left: 879.974px;
}

.filter-web4 {
    position: absolute;
    left: 879.974px;
    top: 263.988px;
}

.filter-web5 {
    position: absolute;
    left: 439.987px;
    top: 308.913px;
}

.filter-web6 {
    position: absolute;
    left: 0px;
    top: 451.7px;
}

.filter-web7 {
    position: absolute;
    left: 879.974px;
    top: 569.05px;
}

.filter-web8 {
    position: absolute;
    left: 879.974px;
    top: 869.075px;
}
.filter-web9 {
    position: absolute;
    left: 879.974px;
    top: 869.075px;
}




.team-section {
    background-color: #f6F9FE;
}

.team-info {
    padding: 25px 15px;
}

.team-info h4 {
    font-size: 18px;
    margin: 0px 0px 5px;
    color: #222222;
}

.team-info span {
    font-size: 13px;
    color: #AAAAAA;
}

.team-card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pricing-card {
    padding: 0px 12px;
    border-radius: 10px;
}

.pricing-box {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pricing-box .pricing-title1 {
    color: #777777;
    background-color: #f8f8f8;
    margin: -20px -20px 20px;
    padding: 20px 15px;
    font-size: 16px;
}

.pricing-box h4 {
    font-size: 36px;
    margin: 0px 0px 20px;
    font-weight: bold;
}

.pricing-box .month {
    color: #BABABA;
    font-size: 16px;
}

.pricing-box li {
    font-size: 14px;
    padding: 0px 0px 16px;
    color: #444444;
}

.pricing-btn {
    color: #444444;
    background-color: #f8f8f8;
    margin: 20px -20px -20px;
    padding: 20px 15px;
}

.pricing-btn button {
    padding: 8px 35px 10px;
    color: #FFFFFF;
    background-color: #106EEa;
    font-size: 14px;
}

.pricing-title {
    color: #FFFFFF;
    background-color: #106EEa;
    margin: -20px -20px 20px;
    padding: 20px 15px;
    font-size: 16px;
}

.pricing-box .Advance {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #106eea;
    color: #fff;
}

.faq-section {
    background-color: #f6F9FE;
}

.contact-card {
    padding: 0px 12px;
}

.contact-box {
    margin: 0px 0px 24px;
    padding: 20px 0px 30px;
}

.info-box i {
    font-size: 26px;
    color: #106eea;
    border-radius: 50%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted #b3d1fa;
}

.contact-box h3 {
    font-size: 20px;
    margin: 10px 0px;
    color: #777777;
}

.contact-box p {
    font-size: 14px;
    color: #444444;
}

.contact-map {
    padding: 0px 12px;
}

.contact-map2 {
    padding: 0px 12px;
    min-height: 390px;
}

.contact-form {
    padding: 30px;
}

.contact-form button {
    padding: 10px 30px;
}

.news-section {
    background-color: #f1f6fe;
}

.news-container {
    padding: 50px 0px;
}

.news-container h4 {
    margin: 0px 0px 20px;
    font-size: 24px;
    color: #444444;
}

.news-container p {
    font-size: 15px;
    margin: 0px 0px 16px;
    color: #444444;
}

.subscribe-row {
    margin: 0px -12px;
}

.subscribe input {
    display: block;
}

.footer-top {
    padding: 60px 0px 30px;
}

.contact-card1 h3 {
    color: #444444;
    font-size: 24px;
    margin: 0px 0px 15px;
    padding: 2px 0px;
    font-weight: bold;
}

.contact-card2 h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0xp 8px;
    padding: 0px 0px 12px;
}

.contact-card2 li {
    padding: 10px 0px;
    font-size: 14px;
}

.contact-card2 i {
    color: #106EEa;
}

.socials-icon i {
    font-size: 18px;
    display: inline-block;
    background: #106eea;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer-line {
    background-color: #f1f6fe;

}